.dice{
	float:left;
	width:55px;

	padding:10px;
	font-size:24px;
	text-align:center;
	margin:15px 5px 5px 5px;
	border-radius: 10px;
}

.btnDice {
	background-color:#F5F5F5;
	border:#999 1px solid;
}

.selected {
	background-color: rgb(124, 121, 121);
	border:#999 1px solid;
}

div {
	text-align: center;
}

.buttonScore {
	margin-left: 5px;
}
