.dice{
	float:left;
	width:55px;
	height: 55px;
	background-size: 65px;
	border:#999 1px solid;
	padding:10px;
	font-size:24px;
	text-align:center;
	margin:15px 5px 5px 5px;
	border-radius: 10px;
}

.info {
	text-align: right;
	color: whitesmoke;
	font-size: 25px;	
}

.infoBtn {
	text-align: right;
	color: whitesmoke;
	font-size: 20px;
}
.scoringText {
	color: whitesmoke;
	font-size: 20px;	
}

.tachado {
    text-decoration: line-through;
}

.btnDice {
	background-color:#F5F5F5;
	border:#999 1px solid;
}

.selected {
	background-color: rgb(124, 121, 121);
	border:#999 1px solid;
}

div {
	text-align: center;
}

.buttonScore {
	margin:1px 5px 5px 5px;	
}
