@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 10px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

/*** Table Styles **/

.table-fill {
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  max-width: 250px;
  padding:5px;
  width: 100%;
}
 
th {
  color: #fff;
  background:#755029;
  border-bottom:1px solid #0e5441;
  border-right:1px solid #0e5441;
  font-size:15px;
  font-weight:100;
  padding:24px;
  text-align:center;
  vertical-align:middle;
}

tr {
  border-top: 1px solid #0e5441;
  color:#080808;
  line-height: 2.3px;
  font-size:20px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
td {
  background:#f3e3c2;
  padding:20px;
  text-align:center;
  vertical-align:middle;
  font-weight:300;
  font-size:15px;
  border-right: 1px solid #0e5441;
}
